@font-face{
	font-family: Edwardian;
	src:  url('font/EdwardianScriptITC.ttf');
}
p{
	font-family: Consolas;
	color: #0094ff;
}
p:first-line{
	font-weight: bold;
}
p:first-letter{
	font-family: Edwardian;
	font-size: 18px;
}
